body {
  font-family: 'Raleway', sans-serif;
}

#app {
  padding-top: 50px;
  padding-bottom: 50px;
}

.wrapper {
  max-width: 1024px;
  padding: 0 30px;
  margin: 0 auto;
}

.page-heading {
  text-align: center;
  padding-bottom: 50px;
}

.text-center {
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

.page-text {
  line-height: 1.5;
  letter-spacing: .5px;
}
